md-bottom-sheet {
  transform: none !important;
  display: flex !important;
  flex-direction: column; }

md-input-container {
  margin-bottom: 0 !important; }

h1 {
  margin-top: 5px !important; }

.topic-sentence {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  .topic-sentence .topic-contents-wrapper {
    width: 100%;
    box-sizing: border-box; }
    .topic-sentence .topic-contents-wrapper .topic-contents {
      padding-right: 10px;
      width: 100%; }
    .topic-sentence .topic-contents-wrapper .markdown-text-area {
      width: 100%;
      height: 250px; }
  .topic-sentence .markdown-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    .topic-sentence .markdown-wrapper .markdown-preview {
      align-self: flex-end;
      font-size: 34px;
      padding-right: 15px;
      position: relative;
      right: 750px; }
    .topic-sentence .markdown-wrapper .markdown-show {
      width: 100%;
      word-break: break-all;
      padding: 5px 15px; }

.title-wrapper {
  display: block; }

html {
  font-family: roboto; }

.sel-wrap {
  position: relative; }

.input-group {
  padding: 25px; }
  .input-group label {
    position: absolute;
    bottom: 13px;
    left: 15px;
    z-index: 2;
    transition: all .2s ease-out;
    pointer-events: none;
    color: grey; }
  .input-group label.filled {
    left: 5px;
    transform: translateY(-160%);
    display: inherit; }
  .input-group label.active {
    color: blue; }

.selectize-control.single .selectize-input {
  border: none;
  background-image: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: #fafafa; }
  .selectize-control.single .selectize-input input {
    height: inherit; }

.selectize-control.single .selectize-dropdown.single {
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border: none; }
  .selectize-control.single .selectize-dropdown.single .option {
    line-height: 36px;
    height: 36px; }
  .selectize-control.single .selectize-dropdown.single .option.active {
    background-color: #dcdcdc; }
  .selectize-control.single .selectize-dropdown.single .option.selected {
    background-color: Silver; }

@media (min-width: 992px) {
  .md-button.md-icon-button {
    margin: 0 !important; }
  .topic-sentence {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .topic-sentence .topic-contents-wrapper {
      width: 50%;
      box-sizing: border-box; }
      .topic-sentence .topic-contents-wrapper .topic-contents {
        padding-right: 10px;
        width: 100%; }
      .topic-sentence .topic-contents-wrapper .markdown-text-area {
        width: 100%;
        height: 300px; }
    .topic-sentence .markdown-wrapper {
      width: 50%; }
      .topic-sentence .markdown-wrapper .markdown-show {
        width: 100%;
        word-break: break-all;
        padding: 5px 15px; } }

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.markdown-wrapper {
  display: none; }

@media (max-width: 420px) {
  md-bottom-sheet.md-list.md-has-header.ng-scope {
    background: beige; }
  .markdown-wrapper {
    display: none; }
    .markdown-wrapper .markdown-show {
      width: 100%;
      word-break: break-all;
      padding: 5px 15px; } }

md-bottom-sheet {
  transform: none !important;
  display: flex  !important;
  flex-direction: column; }

md-input-container {
  margin-bottom: 0 !important; }
