<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="app/components/loading/css/loading.min.css" type="text/css" />
</head>

<div class="flex_container">
    <h1 class="loading_header">{{title}}</h1>
    <svg class="spinner" width="200px" height="200px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>

    <h3 class="loading_subheader">{{subTitle}}</h3>
</div>
