<head>
    <link rel="stylesheet" href="app/components/settings/css/settings.min.css" type="text/css" />
</head>


<div class="settings-wrapper">
    <h1 class="setting-title" md-theme="default">Settings</h1>
    
        <md-content md-theme="default" class="md_content_settings">
            <md-tabs>
              <md-tab label="Account Info">
        
                <span class="info">Email : {{Email}}</span>
                 <md-button class="md-raised" ng-click="changeEmail($event);">
                    Change
                </md-button>
                <br>
                <span class="info">Username : {{Username}}</span>
                 <md-button class="md-raised md-primary" ng-click="changeUsername($event);">
                    Change
                </md-button>
                <br>
                <span class="info">Password : {{passwordSHARP}}</span>
                
                <md-button class="md-raised md-accent" id="password_button" ng-click="changePassword($event);">
                    Change
                </md-button>
                <br>
                <div>
                    <span class="info">Avatar :</span> <img ng-src="{{userInfo.Image}}" class="avatarr avatar-img"/>
                    <md-button class="md-raised" ng-click="changeImage($event);">
                        Change
                    </md-button>
                </div>
                <br>
                <span class="info">UID : {{uid}}</span>
              </md-tab>
              <md-tab label="Update Descripton">
                   <p class="info">See Your Descripton in your profile page</p>
                   <md-button class="md-accent" ng-click="descriptonChange($event);">Update Descripton</md-button>
              </md-tab>
              <md-tab label="Logout" ng-click="logout();">Logout</md-tab>
            </md-tabs>
         </md-content>
</div>
