<head>
    <link rel="stylesheet" href="app/components/settings/css/settings.min.css" type="text/css" />
</head>


<div class="settings-wrapper">
    <h1 class="setting-title" md-theme="default">Settings</h1>
    
        <md-content md-theme="default" class="md_content_settings">
            <md-tabs>
              <md-tab label="Public">
        
               <span class="tab_exmp">
                <span class="info">Username : {{Username}}</span>
                <br>
                 <md-button class="md-raised md-primary" ng-click="changeUsername($event);">
                    Change
                </md-button>
                <br>
               
                <div>
                    <span class="info">Avatar :</span> <img ng-src="{{userInfo.Image}}" class="avatarr avatar-img"/>
                    <br>
                    <md-button class="md-raised" ng-click="changeImage($event);">
                        Change
                    </md-button>
                </div>
                <br>
                <div>
                     <p class="info">Descripton(See Descripton In Profile)</p>
                   <md-button class="md-raised" id="descChange" ng-click="descriptonChange($event);">Update Desripton</md-button>
                </div>
              </md-tab>
              <md-tab label="Private">
                   <span class="tab_exmp">
                   <span class="info">Email : {{Email}}</span>
                   <br>
                 <md-button class="md-raised" ng-click="changeEmail($event);">
                    Change
                </md-button>
                <br>
                
                 <span class="info">Password : {{passwordSHARP}}</span>
                <br>
                <md-button class="md-raised md-accent" id="password_button" ng-click="changePassword($event);">
                    Change
                </md-button>
                <br>
                <span class="info UID_INFO">UID : {{uid}}  <br>(DONT TELL ANYONE YOUR UID!)</br></span>
                <br>
               </span>
               </span>
              </md-tab>
              <md-tab label="Dangerous" class="dang_exmp">
                   <span class="tab_exmp">
                   <md-button class="md-accent md-raised" id="deleteUserButton" ng-click="deleteUser();"> DELETE USER </md-button>
                  </span>
              </md-tab>
            </md-tabs>
         </md-content>
</div>
