<head>
    <link rel="stylesheet" href="views/assets/css/files/authDesc.css" type="text/css" />
</head>

<div class="toolbar_new_topic">
  <md-button id="NEW_TOPIC_BUTTON" ng-click="showNewTopic($event)">
    <ng-md-icon icon="add_box" style="fill: white" size="20" id="add_icon"></ng-md-icon>
    <span id="text_new_topic" color="white">New Topic</span>
  </md-button>
</div>
    <md-autocomplete
                           md-search-text="searchText"
                           md-items="topic in topicName | filter:searchText"
                           md-selected-item="selectedItem"
                           md-item-text="topic.Title"
                           md-min-length="0"
                           md-selected-item-change = "goToTOPICAUTCOMPLETE(topic)"
                           placeholder="Search Topics....">
        <md-item-template>
          <span class="item-metadata">
            <span class="item-metastat">
             <img alt="{{ topic.Avatar }}" src="{{ topic.Avatar }}" class="md-avatar avatar_creator" /> {{topic.Title}}
            </span>
          </span>
        </md-item-template>
        <md-not-found>
          No Match found... Please try again.
        </md-not-found>
    </md-autocomplete>
      
      
<md-list ng-cloak="" class="listdemoListControls">
  <md-subheader class="md-no-sticky"><h1>Forum Questions</h1></md-subheader>
  
  
  <md-list-item ng-repeat="top in topic" ng-click="goToTopic(top.Avatar,top.DateCreated,top.Email,top.Title,top.UID,top.Username,top.Value,top.Postnum);" class="noright">
    <img alt="{{ top.Avatar }}" src="{{ top.Avatar }}" class="md-avatar" />
    <p>{{ top.Title }}</p>
    <md-checkbox class="md-secondary"></md-checkbox>
  <!--  <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
  -->  <ng-md-icon class="md-secondary" id="MD-ICON-1" icon="mail_outline" ng-click="doSecondaryAction($event)" style="fill: gray" size="20"></ng-md-icon> 
  </md-list-item>
  
  
</md-list>