<head>
  <link rel="stylesheet" href="views/assets/css/files/authHome.css" type="text/css" />
</head>

<div class="toolbardemoBasicUsage">
  <md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Welcome {{Username}}</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button notifications_icon" aria-label="Favorite">
          <ng-md-icon icon="notifications_none" style="fill: greenyellow;" size="30"></ng-md-icon> 
          <!--notifications_active-->
        </md-button>


        <md-menu>
          <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu, $event)">
            <img class="avatar" src="{{image}}" />
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ui-sref="authHome.desc">
                <ng-md-icon icon="forum" style="fill: black" size="20"></ng-md-icon>
                Forum
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="goToProfile();">
                <ng-md-icon icon="perm_identity" style="fill: black" size="20"></ng-md-icon>
                Profile
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="goToSettings();">
                <ng-md-icon icon="settings" style="fill: black" size="20"></ng-md-icon>
                Settings
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="logout();">
                <ng-md-icon icon="logout" style="fill: black" size="20"></ng-md-icon>
                Logout
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>
</div>


<div ui-view>

</div>