<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Uniforum, forum, web, developers">
  <meta name="description" content="Uniforum a community of designers and developers around the globe.">
  <!--<link rel="stylesheet" href="views/assets/css/files/global.css" type="text/css" />-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="views/assets/css/files/minified/homeMat.min.css" type="text/css" />
  <title>Ng-Fourm</title>
</head>

<div class="material-menu-wrapper">
  <div class="material-menu">
    <div class="material-btn">
      <div class="material-hamburger">
        <div class="material-patty"></div>
        <div class="material-patty"></div>
        <div class="material-patty"></div>
      </div>
    </div>
    <div class="material-content">
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#/auth">Login</a></li>
          <li><a href="#/auth">Register</a></li>
          <li><a href="#/authHome/desc">Forum</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<main class="main_class">
	<span class="title_forum">
		<p><span class="highlight">Ng-Forum</span></p>
	</span>
  <p>Meet Developers around the Globe. </p>
</main>