<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Uniforum, forum, web, developers">
  <meta name="description" content="Uniforum a community of designers and developers around the globe.">
  <link rel="stylesheet" href="views/assets/css/files/global.css" type="text/css" />
  <title>Ng-Fourm</title>
</head>

	<div id="page" class="home-page page">
			<header class="container header">
				<div>
					<div class="row">
						<a class="header-logo" href="javascript: void(0)"></a>
						<div class="header-user">
							<a class="header-user-link" href="javascript: void(0)" ui-sref="authHome">Activate</a>
						</div>
					</div>
				</div>
			</header>
			<main class="container main main-homepage">
				<div>
					<section class="row">
						<h1>Ng-Forum</h1>
						<h2>Join the World of Creators</h2>
						<p>
							A beautiful community to meet designers and developers around the world.<br>
							Meet the creators that touches your creative heart. 
						</p>
						<a class="ionicon ionicon-facebook" href="javascript: void(0)"></a>
						<a class="ionicon ionicon-twitter" href="javascript: void(0)"></a>
						<a class="ionicon ionicon-instagram" href="javascript: void(0)"></a>
						<a class="ionicon ionicon-github" href="https://github.com/amanuel2/ng-forum"></a>
					</section>
				</div>
			</main> 
	</div>