<head>
    <style>
        #ashely{
            width:50px;
            height:50px;
        }
        textarea#input_2 {
            width: 500px;
            height: 350px;
             margin-left: auto;
               margin-right: auto;
        }
    </style>
</head>


<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Reply</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" style="fill: white" size="20"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:1000px;height:700px; ">
            <h1></h1>
            <md-input-container style="width: 500px; height:400px;">
                <label>Reply</label>

                <textarea class="text_area" ng-model="reply.sentence" md-select-on-focus ></textarea>
            </md-input-container>
            <br>
            <br>
            <br>
            <br>
            <md-button class="md-primary" ng-click="submitNewReply();">
                <strong>Submit</strong>
            </md-button>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="javascript:void(0)" target="_blank" md-autofocus>
               Unique Coders
            </md-button>
            <span flex></span>
            <img src="https://lh3.googleusercontent.com/z_dVaAGWaYGLulTy0drwYY6QpdABEOq718yBnFyw6Ejbu9T_r4-3FyOVCb0aNw=w400" id="ashely"/> Was Ashely Usefull?
            <md-button ng-click="answer('not useful')" >
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;" >
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
