<md-bottom-sheet class="md-list md-has-header" ng-cloak>

    <form name="myForm">
        <md-header>
            <h2>Create a new topic</h2>
            Drag Down, or press <code>ESC</code> To quit
        </md-header>
        <br>
        <br>
        <br>
        <md-input-container>
            <input name="title" placeholder="What is the topic about?"
            type="text" ng-model="topic.title" 
            ng-minlength="10"
            ng-maxlength="25"
            required />
        </md-input-container>
        <br>
        <br>
         <!-- show an error if username is too short -->
        <p ng-show="myForm.title.$error.minlength">Topic Title is too short.</p>
    
        <!-- show an error if Topic Title is too long -->
        <p ng-show="myForm.title.$error.maxlength">Topic Title is too long.</p>
    
        <!-- show an error if this isn't filled in -->
        <p ng-show="myForm.title.$error.required">Your Topic Title is required.</p>

        <md-input-container>
            <label>Topic Sentence</label>
            <textarea rows="50" name="sentence" ng-model="topic.sentence" cols="50" 
            style="height:100px; width:800px;"
            ng-minlength="30" 
            required>
      </textarea>
                   <!-- show an error if username is too short -->
        <p ng-show="myForm.sentence.$error.minlength">Topic sentence is too short.</p>
    
    
        <!-- show an error if this isn't filled in -->
        <p ng-show="myForm.sentence.$error.required">Your Topic sentence is required.</p>
        
        
        </md-input-container>
        <br>
        <br>
        <md-button class="md-raised md-default" ng-click="logicToGoBack();" >
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="submitNewTopic();" ng-disabled="myForm.$invalid">
            Submit
        </md-button>
    </form>

</md-bottom-sheet>

