<head>
    <link rel="stylesheet" href="views/assets/css/files/topicDesc.css" type="text/css" />
</head>

<div class="topic-desc-wrapper">
    
    <span class="GOBACKBUTTON">
        <md-button class="md-icon-button" aria-label="GoBackIconButton" ng-click="goBackTopic();" id="buttonBackIcon" class="buttonBackIcon">
            <ng-md-icon icon="arrow_back" style="fill: black" size="20" ></ng-md-icon> 
            <!--<ng-md-icon icon="arrow_back"class="back-arrow"></ng-md-icon> -->
        </md-button>
    </span>
    
    
    <h1 class="topic-title">{{creatorTitle}}</h1>
    
        <div class="post-info">
            <div class="author-info">
                <img src="{{creatorAvatar}}" class="author-avatar"/>
                <span class="author-username">{{creatorUsername}}</span>
            </div>
            <div class="topic-stats">
                <span class="views-stat">Views: {{countViews}}</span>
                <span>{{timeSinceCreated}}</span>
            </div>
        </div> <!-- END OF POST-INFO -->
        
        <div class="topic-sentence">
            <p class="topic-text">{{creatorValue}}</p>
        </div>
        
        <div class="topic-buttons">
            <div class="topic-votes">
                <div ng-if="upVoteCount || downVoteCount">
                        <span class="already-voted">ALREADY VOTED!</span>
                </div>
                <span class="vote-counting">{{votesCount}}</span>
                
                <div ng-if="!upVoteCount && !downVoteCount">
                    <md-button class="md-icon-button" aria-label="Custom Icon Button" ng-click="upVote();">
                        <ng-md-icon icon="thumb_up" style="fill: black" size="20"></ng-md-icon>
                    </md-button>
                </div>
        
                <div class="down_vote_button">
                    <md-button class="md-icon-button" aria-label="Custom Icon Button" ng-click="downVote();">
                        <ng-md-icon icon="thumb_down" style="fill: black" size="20"></ng-md-icon>
                    </md-button>
                </div>
                
                <md-button class="md-raised md-warn" id="replyButtonTopic" ng-click="replyTopic($event)">
                    Reply
                </md-button>
            </div>
            <!-- share, like, edi id="replyButtonTopic"t, delete -->
            
        </div> <!-- END OF TOPIC-BUTTONS DIV -->
        
        <md-list>
            <h2 class="replies-title">Replies</h2>
            <md-list-item class="comment" ng-repeat="reps in replies">
                <!-- User Block --> 
                
                <div class="author-info">
                    <img ng-src="{{reps.replyCreatorAvatar}}" class="md-avatar cursors_AV" alt="Something Went Wong" ng-click="goToProfile(reps);" href="javascript:void(0);" />
                    <div class="md-list-item-text">
                        <h3 class="cursors_AV" ng-click="goToProfile(reps,$event);"> {{reps.replyCreatorUsername}} </h3>
                        <p> {{reps.replyCreatorValue}} </p>
                    </div>
                </div>
                
                <!-- Comment  oBlock -->
                <div class="comment-info">
                    <span>{{reps.replyCreatorDate | dateFilter}}</span>
                </div>
                <!-- end of comment -->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="buttons-wrapper"> 
                    <span ng-if="funcCheckEDIT(reps);">
                        
                        <span ng-if="replyUserSec(reps)">
                            <md-button class="md-icon-button" ng-click="editValue($event);">
                                <ng-md-icon icon="edit" style="fill: #ff6400;" size="20"></ng-md-icon> 
                            </md-button>
                        </span>
                        
                        <md-button class="md-icon-button" ng-click="">
                            <ng-md-icon icon="delete" style="fill: #ff6400;" size="20"></ng-md-icon> 
                        </md-button>
                        
                        <!--When user clicks toggle to check_box -->
                        <md-button class="md-icon-button" ng-click="">
                            <ng-md-icon icon="check_box_outline_blank" style="fill: #ff6400;" size="20"></ng-md-icon> 
                        </md-button>
                        
                        <!--When user clicks favorite to star -->
                        <md-button class="md-icon-button" ng-click="">
                            <ng-md-icon icon="favorite_border" style="fill: #ff6400;" size="20"></ng-md-icon> 
                        </md-button>
                        
                        <md-button class="md-icon-button" ng-click="">
                            <ng-md-icon icon="share" style="fill: #ff6400;" size="20"></ng-md-icon> 
                        </md-button>
                        
                        <md-button class="md-icon-button" ng-click="">
                            <ng-md-icon icon="flag" style="fill: #ff6400;" size="20"></ng-md-icon> 
                        </md-button>
                        
                    </span>
                    <md-button class="md-accent" ng-click="replyTopic($event)">
                         <ng-md-icon icon="reply" style="fill: #0affcf;" size="20"></ng-md-icon>
                        <strong>Reply</strong>
                    </md-button>
                </div>
            <div>
            </div>
            </md-list-item>
        </md-list>
</div>