.menu {
  height: 64px;
  width: 100%;
  background-color: #1565c0;
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu .welcome-things {
    display: flex;
    align-items: center; }
    .menu .welcome-things .username {
      margin-left: 10px;
      font-weight: 700;
      font-size: 24px; }
  .menu .page-nav {
    display: flex;
    align-items: center;
    margin-right: 30px; }
    .menu .page-nav .logged-user {
      display: flex;
      align-items: center; }
      .menu .page-nav .logged-user .notifications-wrapper {
        display: flex;
        align-items: center;
        margin-right: 20px; }
      .menu .page-nav .logged-user .user-avatar-wrapper {
        padding: 0;
        margin: 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        min-width: 50px;
        display: flex;
        align-items: center; }
      .menu .page-nav .logged-user .user-avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%; }
    .menu .page-nav .not-logged-user {
      display: flex;
      align-items: center;
      margin-right: 10px; }

div#IDMENU {
  background: #38abe3; }

button#menu1 {
  position: relative;
  right: 70px;
  top: 2px;
  border-radius: 50%;
  height: 50px;
  width: 50px; }

button.md-icon-button.notifications_icon.notifications-wrapper.md-button.md-ink-ripple {
  position: relative;
  right: 100px; }

@media (min-width: 992px) {
  .menu {
    height: 74px; }
    .menu .welcome-things .username {
      font-size: 28px;
      margin-left: 15px; } }

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2); }
  .follow i {
    margin-right: 20px;
    transition: margin-right 0.2s ease; }
  .follow:hover {
    width: 134px; }
    .follow:hover i {
      margin-right: 10px; }

.menu_bar {
  fill: white;
  position: relative;
  left: -25px; }

@media (max-width: 420px) {
  .menu {
    height: 74px; }
    .menu .welcome-things {
      visibility: hidden; }
      .menu .welcome-things .username {
        font-size: 28px;
        margin-left: 15px; } }
