body {
    background-color: #29b6f6;
}

#Form {
    background-color: #29b6f6;
    position: relative;
    left: 50px;
}

br {
    content: "";
    margin: 2em;
    display: block;
    margin-bottom: -50px;
}

#FormContent {
    background-color: #29b6f6;
    position: relative;
    top: 60px;
    text-align: center;
    height: 1000px;
}

#PasswordIcon {
    position: relative;
    right: 195px;
    bottom: 5px;
}

#EmailIcon {
    position: relative;
    right: 195px;
    bottom: 5px;
}

#UsernameIcon {
    position: relative;
    right: 195px;
    bottom: 5px;
}

#Header {
    font-family: Impact;
    color: white;
    position: relative;
    bottom: 10px;
}

#PasswordInput {
    position: relative;
    left: 30px
}

#EmailInput {
    position: relative;
    left: 30px
}

#UsernameInput {
    position: relative;
    left: 30px
}

#buttonIcon {
    position: relative;
    left: -5px;
    top: 3px;
}

#orLoginWith {
    position: relative;
    bottom: 0px;
    left: 00px;
}

.md-raised {
    position: relative;
    top: 10px;
}

#toolbar {
    text-align: center;
}

.socialLoginOptions {
   
    top: 35px;
    right: 30px;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

.twitterLogin {
    position: relative;
    left: 5px;
    color: white;
}

.socialLoginOptionsButtons {
    position:relative;
    top: 14.5px;
    left: -10px;
}
.LoginTab{
    height:5000px;
}
#signing{
    height:400px;
}
#buttonLogin{
    position:relative;
    bottom:10px;
}
#registerButton{
    position:relative;
    bottom:25px;
}

md-checkbox#termsCheck {
    bottom: 5px;
}

@media screen and (max-width: 800px) {
  #NEW_TOPIC_BUTTON {
    width: 90%;
    min-width: 0;
  }
}




