@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
@font-face {
  font-family: "Ionicons";
  src: url("../icons/ionicons/ionicons.eot");
  src: url("../icons/ionicons/ionicons.eot?#iefix") format("embedded-opentype"), url("../icons/ionicons/ionicons.woff") format("woff"), url("../icons/ionicons/ionicons.ttf") format("truetype"), url("../icons/ionicons/ionicons.svg") format("svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  font-style: normal;
}

body {
    /*background-color: #29b6f6;*/
    background-color: transparent;
}

#Form {
    background-color: #29b6f6;
    position: relative;
    left: 50px;
}

br {
    content: "";
    margin: 2em;
    display: block;
    margin-bottom: -50px;
}
form#userForm {
    height: 1100px;
}

#FormContent {
    /*background-color: #29b6f6;*/
    position: relative;
    /*top: 60px;*/
    text-align: center;
    /* height: 1000px;why do you need this? */
}

#PasswordIcon {
    position: relative;
    right: 205px;
    bottom: 5px;
}

#EmailIcon {
    position: relative;
    right: 205px;
    bottom: 5px;
}

#UsernameIcon {
    position: relative;
    right: 205px;
    bottom: 5px;
}

#Header {
    font-family: Impact;
    color: white;
    position: relative;
    bottom: 10px;
}

#PasswordInput {
    position: relative;
    left: 30px
}

#EmailInput {
    position: relative;
    left: 30px
}

#UsernameInput {
    position: relative;
    left: 30px
}

#buttonIcon {
    position: relative;
    left: -5px;
    top: 3px;
}

#orLoginWith {
    position: relative;
    bottom: 0px;
    left: 00px;
}

.md-raised {
    position: relative;
    top: 10px;
}

#toolbar {
    text-align: center;
}

.socialLoginOptions {
   
    top: 35px;
    right: 30px;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

.twitterLogin {
    position: relative;
    left: 5px;
    color: white;
}

.socialLoginOptionsButtons {
    position:relative;
    top: 14.5px;
    left: -10px;
}
.LoginTab{
    height:5000px;
}
#signing{
    height:800px;
}
#buttonLogin{
    position:relative;
    bottom:10px;
}
#registerButton{
    position:relative;
}

md-checkbox#termsCheck {
    bottom: 5px;
}

.recaptcha-wrapper {
    /* Hello Shim hello it doesnt work, wait, sometimes i dont know what i should do, so i need to make a research in your code :p
    * I think it's the problem with angular material, so I will check.
    i gtg... angular amterial is material.angularjs.com/latest
    */
    /*align-self: center;*/

}

@media screen and (max-width: 800px) {
  #NEW_TOPIC_BUTTON {
    width: 90%;
    min-width: 0;
  }
}

#signing{
    height:500px;
}
#recaptcha_WRAP{
    left:100px;
}

#recaptcha_WRAP div div{
    width:100% !important;
}

span#divMODE {
    right: -870px;
    position: relative;
}

.login-register-icons{
    fill: #29b6f6 !important;
}
.auth-page {
    background: #fff url("../../images/binary.jpg") no-repeat center/cover fixed;
    text-align: center;
    font: 100%/1.25 "Quattrocento Sans", sans-serif;
    overflow-x: hidden;
    height: auto;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: blue;
    background: blue;
}