@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
@font-face {
  font-family: "Ionicons";
  src: url("../icons/ionicons/ionicons.eot");
  src: url("../icons/ionicons/ionicons.eot?#iefix") format("embedded-opentype"), url("../icons/ionicons/ionicons.woff") format("woff"), url("../icons/ionicons/ionicons.ttf") format("truetype"), url("../icons/ionicons/ionicons.svg") format("svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-page {
  background: #fff url("../../images/bg.jpg") no-repeat center/cover fixed;
}

body {
  background: #fff url("../../images/binary.jpg") no-repeat center/cover fixed;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font: 100%/1.25 "Quattrocento Sans", sans-serif;
  overflow-x: hidden;
  height: auto;
}

header,
nav,
main,
section,
aside,
footer {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 100% "Lora", serif;
  color: #fff;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

.container {
  width: 100%;
}

.container::after,
.container::before {
  content: "";
  display: block;
  clear: both;
}

.row {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.row::after,
.row::before {
  content: "";
  display: block;
  clear: both;
}

.page {
  position: relative;
  z-index: 1;
}

.ionicon {
  font-family: "Ionicons";
  cursor: default;
  color: #222;
}

.ionicon-user::before {
  content: "";
  font: normal 150% "Ionicons";
}

.ionicon-password::before {
  content: "";
  font: normal 150% "Ionicons";
}

.ionicon-email::before {
  content: "";
  font: normal 150% "Ionicons";
}

.ionicon-facebook::before {
  content: "";
}

.ionicon-twitter::before {
  content: "";
}

.ionicon-instagram::before {
  content: "";
}

.ionicon-github::before {
  content: "";
}

.ionicon-settings::before {
  content: "";
}

.ionicon-notify::before {
  content: "";
}

.ionicon-plus::before {
  content: "";
  font-style: normal;
  margin-right: 5px;
  color: #fff;
}

.ionicon-like::before {
  content: "";
  font-style: normal;
  color: #999;
  font-size: 1.5em;
}

.ionicon-dislike::before {
  content: "";
  font-style: normal;
  color: #999;
  font-size: 1.5em;
}

.header {
  position: relative;
  z-index: 1000;
}

.header > div {
  background: -moz-linear-gradient(left, rgba(146, 200, 244, 0.31) 0%, rgba(57, 169, 249, 0.7) 100%);
  background: -webkit-linear-gradient(left, rgba(146, 200, 244, 0.31) 0%, rgba(57, 169, 249, 0.7) 100%);
  background: linear-gradient(to right, rgba(146, 200, 244, 0.31) 0%, rgba(57, 169, 249, 0.7) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4f92c8f4', endColorstr='#b339a9f9', GradientType=1);
  height: 4.375em;
  line-height: 4.375em;
  box-shadow: 0 1px 5px 0 #000;
}

.header-logo {
  margin-top: 0.4375em;
  float: left;
  width: 3.125em;
  height: 3.125em;
}

.header-logo::after {
  content: url("../../images/unifly.png");
  display: block;
}

.header-user {
  float: right;
}

.header-user-link {
  display: inline-block;
  color: #fff;
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  width: 6.25em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 0.125em;
  background-color: transparent;
  transition: background-color 0.4s ease;
}

.header-user-link:hover,
.header-user-link--active {
  background-color: rgba(255, 255, 255, 0.3);
}

.main h2 {
  font-size: 200%;
}

.main-homepage h1 {
  font-size: 360%;
  margin-top: 1.875em;
}

.main-homepage h2 {
  font-size: 180%;
}

.main-homepage h2::after {
  content: url("../../images/border.png");
  display: block;
}

.main-homepage p {
  color: #f1f1f1;
  font-size: 140%;
  margin-top: 1.5625em;
}

.main-homepage p::after {
  content: url("../../images/border-leaf.png");
  display: block;
  margin-top: 2.5em;
}

.main-homepage .ionicon {
  font-size: 350%;
  margin: 0 2%;
  color: #a9e2e2;
  position: relative;
  top: 0;
  transition: top 0.5s ease;
  cursor: pointer;
}

.main-homepage .ionicon:hover {
  top: -20px;
}

.main-user-field {
  max-width: 400px;
  width: 100%;
  margin: 6.25em auto 0 auto;
}

.main-user-field h2 {
  text-transform: lowercase;
}

.main-user-field h2::after {
  content: url("../../images/border.png");
  display: block;
}

.main-user-field div {
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.82);
  height: 70px;
  line-height: 70px;
  margin: 7px auto;
  padding: 0 5px;
}

.main-user-field div input {
  display: block;
  border: 0;
  background-color: transparent;
  height: 70px;
  line-height: 70px;
  width: 90%;
  float: right;
  font-size: 100%;
  color: #222;
}

.main-user-field div input:focus {
  outline: 0;
}

.main-user-field .main-user-field-text {
  border: 0;
  background-color: transparent;
  height: auto;
  line-height: 1.2;
  margin: 20px 0;
  float: left;
}

.main-user-field .main-user-field-text a {
  color: #020991;
}

.main-user-field .main-user-field-text p {
  color: #fff;
  display: block;
  text-align: left;
}

.main-user-field button {
  clear: both;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  background-color: #2d80ba;
  color: #fff;
  font-size: 130%;
  font-family: "Lora";
  height: 70px;
  line-height: 70px;
  width: 100%;
  margin: 0 auto;
}

.main-user-field button::-moz-focus-inner {
  border: 0;
}

@media screen and (min-width: 510px) {
  .main-homepage h1 {
    font-size: 600%;
    margin-top: 0.625em;
  }
  .main-homepage h2 {
    font-size: 250%;
  }
}


/*# sourceMappingURL=global.css.map */
