.topic-desc-wrapper {
    margin: 30px;
}

.topic-title {
    color: #204056;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #BBDEFB;
}

.post-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.author-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    /* top: 50px; */
    position: relative;
    top: -80px;
}

.author-info-topic{
     display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    /* top: 50px; */
}
.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-username {
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}

.topic-votes {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.already-voted {
    font-weight: bold;
    padding-right: 15px;
}

.vote-counting {
    font-size: 30px;
    font-weight: bold;
}

.topic-stats {
    font-size: 12px;
}

.views-stat {
    padding: 0 5px;
    border-right: 1px solid #BBDEFB;
}

.topic-sentense {
    margin: 0 20px;
}

.topic-sentense .topic-text {
    line-height: 550%;
    word-break: break-all;
}

.topic-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.replies-title {
    color: #204056;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid #BBDEFB;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 90px;
}

.comment {
    border-bottom: 1px solid #BBDEFB;;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
}

.comment-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    top: -80px;
}
#buttonBackIcon{
    fill: blue;
    size: 20px !important;
}
#replyButtonTopic {
    left: 1200px;
}