.topic-desc-wrapper {
  margin: 20px; }

.topic-title {
  color: #204056;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #BBDEFB; }

.html_container {
  overflow-x: hidden; }

.topic-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px; }
  .topic-info .topic-author-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center; }
  .topic-info .topic-stats {
    font-size: 12px; }
    .topic-info .topic-stats .views-stats {
      padding: 0 5px;
      border-right: 1px solid #BBDEFB; }

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.username {
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px; }

.topic-sentence {
  margin: 0 10px; }
  .topic-sentence .topic-text {
    word-break: break-all; }

.topic-buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0 5px;
  flex-wrap: wrap; }
  .topic-buttons .topic-voting {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center; }
    .topic-buttons .topic-voting .already-voted {
      font-weight: 700;
      padding-right: 15px; }
    .topic-buttons .topic-voting .vote-counting {
      font-size: 24px;
      font-weight: 700; }
    .topic-buttons .topic-voting .vote-icons {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center; }

.downvote {
  fill: red;
  fill: red; }

.replies-title {
  color: #204056;
  font-size: 28px;
  font-weight: 700;
  border-bottom: 1px solid #BBDEFB;
  padding-bottom: 15px;
  margin-bottom: 0;
  margin-top: 10px; }

.comment {
  border-bottom: 1px solid #BBDEFB;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  word-break: break-all; }
  .comment .post-author-comment-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; }
    .comment .post-author-comment-info .post-author-info {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center; }
  .comment .comment-info {
    margin-left: 5px;
    font-size: 12px; }
  .comment .buttons-wrapper {
    justify-content: flex-end;
    flex-wrap: wrap; }

.upvote {
  fill: green; }

.thumb-icon {
  fill: #000; }

.best-answer-img {
  width: 50px;
  height: 50px;
  align-self: flex-end; }

.best-answer {
  background-color: #90CAF9; }

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px; }
  .tags .tmp-tag {
    margin-left: 5px;
    background-color: #CCC;
    padding: 3px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .tags .tmp-tag:hover {
      background-color: #AAA; }
    .tags .tmp-tag .tmp-icon {
      width: 20px;
      height: 20px; }

#buttonBackIcon {
  fill: blue;
  size: 20px !important; }

.fill-browser {
  width: 100%; }

@media (min-width: 992px) {
  .topic-desc-wrapper {
    margin: 30px auto;
    width: 70%; }
    .topic-desc-wrapper .topic-title {
      padding-bottom: 15px; }
    .topic-desc-wrapper .post-info {
      margin-left: 20px;
      margin-right: 20px; } }

@media (min-width: 1200px) {
  .topic-desc-wrapper {
    width: 60%; } }

form.ng-pristine.ng-valid-minlength.ng-valid-maxlength.ng-invalid.ng-invalid-required {
  overflow-x: hidden;
  overflow-y: auto; }

.icons {
  width: 408px; }
