<head>
    <style>
        #ashely {
            width: 50px;
            height: 50px;
        }
        
        textarea#input_2 {
            width: 500px;
            height: 200px;
        }
    </style>
</head>


<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Emoticons</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" style="fill: white" size="20"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="emojie_list">
                <md-tabs md-dynamic-height md-border-bottom class="md-accent">
                    <md-tab label="Smilies">
                        <md-content class="md-padding" style="background-color: #26C6DA;">
                            <span class="key_value_repeat" ng-repeat="emojie in emojieListCtrl">
                                 <md-button class="md-icon-button" aria-label="emojie_icons" ng-click="emojieClick(emojie);">
                                    <span ng-bind-html="emojie.img">
                                    </span>
                                 </md-button>
                            </span>
                        </md-content>
                    </md-tab>
                    <md-tab label="Artifacts" >
                        <md-content class="md-padding" style="background-color: #26C6DA;">
                            <p>Coming Soon</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="Special">
                        <md-content class="md-padding"  style="background-color: #26C6DA;">
                            <p>Coming Soon</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="javascript:void(0)" target="_blank" md-autofocus>
                Ng-Forum
            </md-button>
            <span flex></span>
            <img src="https://lh3.googleusercontent.com/z_dVaAGWaYGLulTy0drwYY6QpdABEOq718yBnFyw6Ejbu9T_r4-3FyOVCb0aNw=w400" id="ashely" /> Was Ashely Usefull?
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
