<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Ng-Forum, forum, web, developers">
  <meta name="description" content="Ng-Forum a community of designers and developers around the globe.">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app/components/home/css/homeMat.min.css" type="text/css" />
  <title>Ng-Fourm</title>
</head>

<div class="material-menu-wrapper">
  <div class="material-menu">
    <div class="material-btn">
      <div class="material-hamburger">
        <div class="material-patty"></div>
        <div class="material-patty"></div>
        <div class="material-patty"></div>
      </div>
    </div>
    <div class="material-content">
      <nav>
        <ul>
          <li><a style="cursor:pointer;" ng-click="goTo('home')">Home</a></li>
          <li><a style="cursor:pointer;" ng-click="goTo('auth')">Login</a></li>
          <li><a style="cursor:pointer;" ng-click="goTo('auth')">Register</a></li>
          <li><a style="cursor:pointer;" ng-click="goTo('authHome')">Forum</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<main class="main_class">
	<span class="title_forum">
		<p><span class="highlight">Ng-Forum</span></p>
	</span>
  <p>Meet Developers around the Globe. </p>
</main>