.toolbar_new_topic {
  display: none; }

.md_content_settings {
  width: 1200px;
  height: 1800px; }

.avatarr {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  right: 13px;
  right: 0;
  bottom: -20px; }

.info {
  padding: 10px;
  font-weight: 700; }

.setting-title {
  margin-left: 30px; }

.settings-wrapper {
  padding: 20px; }

.avatar-img {
  padding-left: 10px;
  padding-right: 10px; }

md-tabs.ng-isolate-scope.md-default-theme {
  height: 500px; }

button#descChange {
  background-color: #FFC107; }

button#deleteUserButton {
  background-color: #D50000; }

@media (max-width: 420px) {
  md-tabs.ng-isolate-scope.md-default-theme {
    position: relative;
    right: 17px; }
  span.tab_exmp.ng-scope {
    position: relative;
    left: 8px; }
  .dang_exmp {
    position: relative;
    left: 8px; } }
