<md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">
  <md-card-title>
    <md-card-title-media>
      <div class="md-media-sm card-media" layout layout-align="center center"
           md-colors="::{background: '{{theme}}-accent'}">
        <img width="100" height="100" src="{{image}}"/>
      </div>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">{{name}}</span>
      <span class="md-subhead description">{{email}}</span>
      <span class="md-subhead description">{{uid}}</span>
      <span class="md-subhead description">{{desc}}</span>
    </md-card-title-text>
  </md-card-title>
</md-card>